# Environments
.env
.venv

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg
*.whl

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Alembic
alembic/versions/*.pyc

# Logs
*.log
